page-credits {

    ion-grid > *{
        color: map-get($colors, light-grey);
    }

    h1{
        color: map-get($colors, primary);
    }

    .creditLeftSide{
        text-align: right;
        font-style: italic;
      }
      
      .creditRightSide{
        text-align: left;
      }

}
