<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons>
      <button menuToggle ion-button icon-only item-start>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content text-center>

  
  <ion-grid>

    <!-- Réalisation -->
    <ion-row>
      <ion-col>
        <h1>{{ translationKey + '.' + "Réalisation" | translate }}</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="creditLeftSide">
        {{ translationKey + '.' + "Version Flash" | translate }}
      </ion-col>
      <ion-col class="creditRightSide">
        Serge Bouchardon<br>
        Vincent Volckaert
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="creditLeftSide">
        {{ translationKey + '.' + "Version Angular" | translate }}
      </ion-col>
      <ion-col class="creditRightSide">
        Serge Bouchardon<br>
        Thomas Le Vaou<br>
        Baptiste Wojtkowski<br>
        Frédéric Tauch
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="creditLeftSide">
        {{ translationKey + '.' + "Version Ionic" | translate }}
      </ion-col>
      <ion-col class="creditRightSide">
        Serge Bouchardon<br>
        Romane Magagnin<br>
        Thomas Le Vaou<br>
        Maxime Lotton<br>
        Bastien Terrier            
      </ion-col>
    </ion-row>


    <!-- Traduction -->
    <ion-row>
      <ion-col>
        <h1>{{ translationKey + '.' + "Traduction" | translate }}</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="creditLeftSide">
        English
      </ion-col>
      <ion-col class="creditRightSide">
        I. Leguy<br>
        V. Bouchardon
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="creditLeftSide">
        Italiano
      </ion-col>
      <ion-col class="creditRightSide">
        Giovanna di Rosario
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col class="creditLeftSide">
        Español
      </ion-col>
      <ion-col class="creditRightSide">
        Martha Asunción Alonso
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col class="creditLeftSide">
        Português
      </ion-col>
      <ion-col class="creditRightSide">
        Diogo Marques
      </ion-col>
    </ion-row>


    <!-- Voix -->
    <ion-row>
      <ion-col>
        <h1>{{ translationKey + '.' + "Voix" | translate }}</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="creditLeftSide">
        {{ translationKey + '.' + "Téléphone" | translate }} ( {{ translationKey + '.' + "Scène"| translate }} 1)
      </ion-col>
      <ion-col class="creditRightSide">
        Simone Hérault<br>
        Valérie Bouchardon<br>
        Yolanda Cepeda<br>
        Carolina Martins
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="creditLeftSide">
        {{ translationKey + '.' + "Narrateur" | translate }} ( {{ translationKey + '.' + "Scène"| translate }} 2)
      </ion-col>
      <ion-col class="creditRightSide">
        Julien Verfaillie<br>
        Mark Kay<br>
        Alberto Concejal<br>
        Valter Ramos
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col class="creditLeftSide">
        {{ translationKey + '.' + "Ado" | translate }} ( {{ translationKey + '.' + "Scène"| translate }} 4)
      </ion-col>
      <ion-col class="creditRightSide">
        Maximilien Adam<br>
        Kieran Forest<br>
        Tomás López Santiago<br>
        Diogo Marques
      </ion-col>
    </ion-row>


  <!-- Epouse -->
  <ion-row>
    <ion-col>
      <h1>{{ translationKey + '.' + "Épouse" | translate }}</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      © GettyImages
    </ion-col>
  </ion-row>


  <!-- Musique -->
  <ion-row>
    <ion-col>
      <h1>{{ translationKey + '.' + "Musique" | translate }}</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="creditLeftSide">
      {{ translationKey + '.' + "Scène"| translate }} 2
    </ion-col>
    <ion-col class="creditRightSide">
      {{ translationKey + '.' + "Ambiance" | translate }}, Sound-Fishing
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="creditLeftSide">
      {{ translationKey + '.' + "Scène" | translate }} 3
    </ion-col>
    <ion-col class="creditRightSide">
      Bizet, "Carmen" Julia Migenes, L’amour est un oiseau rebelle
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="creditLeftSide">
      {{ translationKey + '.' + "Scène" | translate }} 5
    </ion-col>
    <ion-col class="creditRightSide">
      Hervé Zénouda, Les Etres Indécis (improvisation dirigée)
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="creditLeftSide">
      {{ translationKey + '.' + "Saxophone" | translate }}
    </ion-col>
    <ion-col class="creditRightSide">
      Cathy Heyden
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="creditLeftSide">
      {{ translationKey + '.' + "Guitare électrique" | translate }}
    </ion-col>
    <ion-col class="creditRightSide">
      Thomas Petit
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="creditLeftSide">
      {{ translationKey + '.' + "Batterie/Montage" | translate }}
    </ion-col>
    <ion-col class="creditRightSide">
      Hervé Zénouda
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      {{ translationKey + '.' + "Extrait du disque" | translate }} "Demain dès l'aube" (2002)
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      Une production Trace Label
    </ion-col>
  </ion-row>
  

  <!-- Vidéo -->
  <ion-row>
      <ion-col>
        <h1>{{ translationKey + '.' + "Vidéo" | translate }}</h1>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        JK Keller Living my life faster
      </ion-col>
    </ion-row>
    
      

  </ion-grid>
  

</ion-content>
