<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons>
      <button menuToggle ion-button icon-only item-start>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content text-center #cadre class="hasHeader cadre">

<canvas #feedBackSwipeCanvas class="canvasFeedback"></canvas>

<canvas #poemeCanvas class="poemeCanvas"></canvas>

<span #textContainer [class]="textContainerClass">{{ translationKey + '.phrases.ph' + phraseIndex | translate }}</span>

</ion-content>
