page-scene3 {
    
    .leftTransition{
        transition-duration: 1.5s;
        transform: translate(0, 35vh);
    }

    .versNoDisplay{
        opacity: 0;
        top: 50%;
        transform: scale(0);
    }

    .versGrowUp{
        position: relative;
        opacity: 0;
        top: 50%;
        // animation: growUp 3s linear 0s;
        height:0em;
    }

    .vers{
        position: relative;
        top: 50%;
        animation: opacityChange 15s ease-out 0s;
        opacity: 0;
        font-size: 1.7rem;
        // opacity: 1;
    }

    .poemeCanvas {
        position: fixed;
        top: 0px;
        height: 100%;
        width: 100%;
        pointer-events: none;
      }

    @keyframes opacityChange {
        0% { opacity: 0; }
        50% { opacity: 1; }
        100% { opacity: 0; }
      }
}
