<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons>
      <button menuToggle ion-button icon-only item-start>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content text-center #cadre class="hasHeader cadre">
  <canvas #feedBackSwipeCanvas class="canvasFeedback"></canvas>
  <canvas #particlesCanvas class="particlesCanvas"></canvas>

  <span #textContainer [class]="textContainerClass">{{ translationKey + '.phrases.ph' + phraseIndex | translate }}</span>

  <input #inputTel type="tel" class="open-keyboard" />

  <img #swipeIndication class="swipeIndication" [style.display]="displaySwipeIndication" src="assets/imgs/swipe-indication.png"/>

</ion-content>

<audio *ngFor="let soundTag of soundTags" src={{soundTag}} autoplay></audio>
