page-scene1 {
  // input caché --> permet de montrer le clavier
  .open-keyboard {
    position: absolute;
    left: -100%;
  }

  .particlesCanvas {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: -2;
  }

  .swipeIndication {
    margin-top: 15px;
    position: absolute;
    border: none;
    width: 20px;
    height: auto;
    animation: directionChange 3s linear 0s infinite;
  }

  @keyframes directionChange {
    0% { transform: translate(-50px, 0px) }
    50% { transform: translate(50px, 0px) }
    100% { transform: translate(-50px, 0px) }
  }
}
