page-presentation {
  .description {
    font-size: 1.3em;
    height: fit-content;
    text-align: left;
    color: map-get($colors, light-grey);
    margin-left : 1em;
    margin-right : 1em;
  }

  .phrasePrix {
    font-size: 1.3em;
    margin-left : 1em;
    margin-right : 1em;
  }

  .link {
      font-size: 1em;
      text-decoration: none;
      font-style: italic;
      color: map-get($colors, light-grey)
  }
}
