<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons>
      <button menuToggle ion-button icon-only item-start>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content text-center>
  <ion-grid>

    <!-- Titre de la page (ici présentation) -->
    <ion-row>
      <ion-col>
        <h1> {{ translationKey + '.' + "presentation" | translate }} </h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="description">
      {{ translationKey + '.' + "ph0" | translate }} <br />
      {{ translationKey + '.' + "ph1" | translate }}<br />
      {{ translationKey + '.' + "ph2" | translate }}<br />
      {{ translationKey + '.' + "ph3" | translate }}<br />
      <br />
      {{ translationKey + '.' + "ph4" | translate }}<br />
      <br />
      {{ translationKey + '.' + "ph5" | translate }}
    </ion-col>
    </ion-row>
  </ion-grid>
  <br />
  <br />
  <h1 class="phrasePrix">{{ translationKey + '.PRIX.' + "MediaWritingPrize" | translate }}</h1>
  <h3>
    <a href="http://newmediawritingprize.co.uk/past-winners/" target="_blank"  class="link"> {{ translationKey + '.PRIX.' + "Voir le site" | translate }} </a>
  </h3>
</ion-content>
