<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons>
      <button menuToggle ion-button icon-only item-start>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #cadre text-center class="hasHeader cadre">

  <canvas #feedBackSwipeCanvas class="canvasFeedback"></canvas>


  <div #flatteriesGrid class="flatteriesGrid">
    <div class="spaceBeetween" *ngFor="let flatterie of flatteriesDisplayed; let i = index">
      <span [id]="flatterie" [class]="flatterieClassList[i]" (tap)="touch(i)">
        {{ translationKeyFlatterie + '.' + flatterieTextList[i] | translate }}
      </span>
    </div>
    <!-- <ion-row>
      <span #flatterie1 [class]="flatterieClass1" (tap)="touch(1)" >{{ translationKeyFlatterie + '.' + flatterieText1 | translate }}</span>
    </ion-row>
    <ion-row>
      <span #flatterie2 [class]="flatterieClass2" (tap)="touch(2)" >{{ translationKeyFlatterie + '.' + flatterieText2 | translate }}</span>
    </ion-row>
    <ion-row>
      <span #flatterie3 [class]="flatterieClass3" (tap)="touch(3)" >{{ translationKeyFlatterie + '.' + flatterieText3 | translate }}</span>
    </ion-row> -->
  </div>

  <img #femmeImage src={{srcFemme}} alt="femme" class="femme">

  <!--Si on veut mettre un bord blanc sur le canvas pour debug, ajouter ce style a la balise canvas -->
  <!--style="border:1px solid #FFFFFF;" -->
  <canvas #femmeCanvas class="femme"></canvas>

  <span #textContainer [class]="textContainerClass">
    {{ translationKey + '.phrases.ph' + phraseIndex | translate }}
  </span>

</ion-content>

<audio #fondSonoreScene2 src={{currentSound}}></audio>
