page-scene2 {

    .noDisplay{
        display: none;
    }

    .flatteriesGrid {
      margin: 0 5%;
      width: 100%;
    }

    .flatterie {
      position: relative;
      font-size: 2rem;
      z-index: 2;
      width: 100%
    }

    .spaceBeetween {
      height: 8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }

    .fadeOut {
        opacity: 0;
        transition: opacity 2s linear;
        transition-delay: 1s;
    }

    .bottomTransition {
        transition-duration: 2s;
        transform: translate(0, 35vh);
    }

    .bottomFixed {
        transform: translate(0, 35vh);
        position: fixed;
    }

    // applied to canvas & image
    .femme{
        position: absolute;
        top: 0px;
        z-index:-2;
    }

}
