<div class="page">
  <div class="home__title-container">
    <span class="home__title">
      Déprise
    </span>
    <!--  -->
    <span class="home__subtitle">
      Adaptation du récit interactif <i>Déprise</i> à destination de plateformes mobiles
    </span>
  </div>

  <!-- PRESENTATION -->

  <div class="bloc-text">
      <span class="bloc-text__title">
        Présentation du récit
      </span>
      <div class="bloc-text__content">
        <span>
          <i>Déprise</i> est une expérience narrative et interactive du sentiment de perte de prise.
        </span>
        <span>
           Quand a-t-on l’impression d’être en situation de prise ou de perte de prise dans la vie ?
         </span>
        <span>
          Six scènes racontent l’histoire d’un homme en pleine déprise. Parallèlement, ce jeu sur prise et déprise permet de mettre en scène la situation du lecteur d’une œuvre interactive.
        </span>
        <span class="text--spaced">
          Vous aurez besoin du son mais aussi d’autoriser l’accès à votre appareil photo (cinquième scène).
        </span>
        <span>Durée : 10 minutes environ.</span>
      </div>
    </div>

  <div class="bloc-text">
    <span class="bloc-text__title">
      Description succincte
    </span>
    <div class="bloc-text__content">
      <span>Déprise est une création numérique en ligne réalisée en 2010 avec le logiciel Flash, par Serge Bouchardon et Vincent Volckaert. </span>
      <span>Cette création a remporté le New Media Writing Prize en 2011. Elle a fait l’objet de nombreuses expositions, de publications d’articles et
        d’expériences pédagogiques. Déprise va également être mentionnée dans des ouvrages sur la lecture littéraire au collège.</span>
      <span>Suite à la mort programmée de Flash en 2020, une nouvelle version de cette application a été réalisée en Angular 2 au cours de l’intersemestre entre les semestres A17 et P18, pour conserver la pérennité du site.
        Pour rendre cette création plus accessible, il a été envisagé d'adapter ce récit dans une version cross-plateformes pour smartphones et pour tablettes. </span>
      <span>Cependant, un tel passage de la version web à la version mobile a demandé de repenser la majorité des interactions homme-machine de celle-ci pour s’adapter à ces nouveaux supports.</span>
      <span>Le but de ce projet de NF28 est de concevoir les nouvelles formes d’interactions homme-machine et de réaliser la version pour smartphones et tablettes de Déprise.</span>
    </div>
  </div>

  <div class="bloc-text">
    <span class="bloc-text__title">
      Intérêt principal
    </span>
    <div class="bloc-text__content">
      <span>L’intérêt de ce projet est double.</span>
      <span>D’une part, il permet de faciliter l’accessibilité de l’oeuvre, notamment pour les collégiens qui étudieront Déprise dans le cadre de leurs cours de français.</span>
      <span>D’autre part, le fait de re-concevoir les interactions homme-machine pour la version mobile de Déprise permet de proposer une nouvelle manière d’expérimenter cette création
        sur la perte de contrôle.
      </span>
    </div>
  </div>

  <div class="bloc-text">
    <span class="bloc-text__title">
      Utilisateurs visés
    </span>
    <div class="bloc-text__content">
      <span>
        Cette oeuvre est destinée aux collégiens qui étudieront Déprise dans le cadre de leurs cours, mais aussi, d'une manière plus générale, toute personne intéressée
        et curieuse d’essayer de nouvelles formes de littérature numérique.
      </span>
    </div>
  </div>

</div>

<div class="rond rond--petit rond--bleu"    style="top: 100px; left: 100px;"></div>
<div class="rond rond--moyen rond--rouge"   style="top: 95px; left: 850px"></div>
<div class="rond rond--moyen rond--vert"    style="top: 300px; left: 343px;"></div>
<div class="rond rond--petit rond--jaune"   style="top: 325px; left: 600px;"></div>
<div class="rond rond--moyen rond--violet"  style="top: 345px; left: 725px;"></div>
<div class="rond rond--grand rond--rose"    style="top: 115px;left: 150px;"></div>
<div class="rond rond--petit rond--marron"  style="top: 325px; left: 600px;"></div>
<div class="rond rond--grand rond--orange"  style="top: 325px; left: 1000px;"></div>
<div class="rond rond--petit rond--bleu"    style="top: 345px; left: 500px;"></div>
<div class="rond rond--petit rond--rouge"   style="top: 298px; left: 106px;"></div>
<div class="rond rond--moyen rond--vert"    style="top: 180px; left: 1050px;"></div>

<!-- ******************************** -->


<div class="rond rond--moyen rond--vert"    style="top: 790px; left: 843px;"></div>
<div class="rond rond--petit rond--jaune"   style="top: 725px;left: 30px;"></div>
<div class="rond rond--moyen rond--violet"  style="top: 755px;left: 315px;"></div>
<div class="rond rond--grand rond--rose"    style="top: 665px; left: 950px;"></div>
<div class="rond rond--petit rond--marron"  style="top: 860px; left: 550px;"></div>
<div class="rond rond--grand rond--bleu"    style="top: 725px; left: 600px"></div>

<div class="rond rond--petit rond--bleu"    style="top: 695px;left: 250px;"></div>
<div class="rond rond--petit rond--rouge"   style="top: 698px;left: 706px;"></div>
