<div class="page">
  <span class="page__title">CHARTE GRAPHIQUE</span>
    <div class="charte__container">
      <span class="charte__subtitle">Couleurs</span>
      <div class="charte__couleurs">

        <div class="charte-couleur">
          <div class="charte-couleur-design">
            <div class="charte-couleur-design__badge charte-couleur-design__badge--black"></div>
            <div class="charte-couleur-design-desc">
              <span class=".charte-couleur-design-desc__item">#000000</span>
              <span class=".charte-couleur-design-desc__item">R 0</span>
              <span class=".charte-couleur-design-desc__item">V 0</span>
              <span class=".charte-couleur-design-desc__item">B 0</span>
            </div>
          </div>
          <div class="charte-couleur__desc">
            Utilisée pour les fonds
          </div>
        </div>

        <div class="charte-couleur">
          <div class="charte-couleur-design">
            <div class="charte-couleur-design__badge charte-couleur-design__badge--white"></div>
            <div class="charte-couleur-design-desc">
              <span class=".charte-couleur-design-desc__item">#FFFFFF</span>
              <span class=".charte-couleur-design-desc__item">R 255</span>
              <span class=".charte-couleur-design-desc__item">V 255</span>
              <span class=".charte-couleur-design-desc__item">B 255</span>
            </div>
          </div>
          <div class="charte-couleur__desc">
            Utilisée pour les phrases du récit et les titres des pages de l'application
          </div>
        </div>

        <div class="charte-couleur">
          <div class="charte-couleur-design">
          <div class="charte-couleur-design__badge charte-couleur-design__badge--grey"></div>
          <div class="charte-couleur-design-desc">
            <span class=".charte-couleur-design-desc__item">#777777</span>
            <span class=".charte-couleur-design-desc__item">R 119</span>
            <span class=".charte-couleur-design-desc__item">V 119 </span>
            <span class=".charte-couleur-design-desc__item">B 119</span>
          </div>
        </div>
        <div class="charte-couleur__desc">
          Couleur secondaire utilisée pour les textes sur les différentes pages de l'application et les phrases cliquables du récit.
        </div>
      </div>
    </div>
  </div>

  <div class="charte__container">
    <span class="charte__subtitle">Typographie</span>
    <div class="charte__typo-container">
      <span class="charte__typo-name">Arial</span>
      <div class="charte-typos">
        <div class="charte__typo">
          <div class="charte-typo-design">
            <span class="charte-typo-design__big">Aa</span>
            <span class="charte-typo-design__desc">normal</span>
          </div>
          <div class="charte-typo-desc">
            <span class="charte-typo-desc__example">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
            <span class="charte-typo-desc__example">abcdefghijklmnopqrstuvwxyz</span>
            <span class="charte-typo-desc__example">0123456789</span>
          </div>
        </div>

        <div class="charte__typo">
          <div class="charte-typo-design">
            <span class="charte-typo-design__big charte-typo-design__big--italic">Aa</span>
            <span class="charte-typo-design__desc charte-typo-design__desc">italic</span>
          </div>
          <div class="charte-typo-desc">
            <span class="charte-typo-desc__example charte-typo-desc__example--italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
            <span class="charte-typo-desc__example charte-typo-desc__example--italic">abcdefghijklmnopqrstuvwxyz</span>
            <span class="charte-typo-desc__example charte-typo-desc__example--italic">0123456789</span>
          </div>
        </div>

        <div class="charte__typo">
          <div class="charte-typo-design">
            <span class="charte-typo-design__big charte-typo-design__big--underline">Aa</span>
            <span class="charte-typo-design__desc charte-typo-design__desc--underline">italic</span>
          </div>
          <div class="charte-typo-desc">
            <span class="charte-typo-desc__example charte-typo-desc__example--underline">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
            <span class="charte-typo-desc__example charte-typo-desc__example--underline">abcdefghijklmnopqrstuvwxyz</span>
            <span class="charte-typo-desc__example charte-typo-desc__example--underline">0123456789</span>
          </div>
        </div>
      </div>
    </div>
    <div class="charte-typo__text">
      <span>La typologie droite est utilisée pour la majorité des textes de l'application. Les phrases attendant un swipe sont de ce style.</span>
      <span>Les textes en italiques sont utilisés pour indiquer qu'un tap est requis pour que l'utilisateur puisse avancer dans le récit.</span>
      <span>Les textes soulignés indiquent qu'il s'agit d'une phrase de fin de scène. Toucher cette phrase clôture donc la scène et permet de passer à la suivante.</span>
    </div>
  </div>
</div>
