<div class="page">
  <span class="page__title">CREDITS</span>

  <span>
    Ce site web de présentation de Déprise et l'application mobile ont été réalisés par :
    <ul>
        <li>Romane Magagnin</li>
        <li>Thomas Le Vaou</li>
        <li>Maxime Lotton</li>
        <li>Bastien Terrier</li>
    </ul>
  </span>

  <p>
      Pour plus d'informations sur les réalisateurs précédents, les voix ou tout autre chose, rendez-vous sur le <a href="https://bouchard.pers.utc.fr/deprise/credit">site web de <i>Déprise</i></a>.
  </p>

  <p>
      Déprise a gagné le prix <a href="http://newmediawritingprize.co.uk/past-winners/">New Media Writing Prize</a> en 2011.
  </p>
</div>
