<div class="page">
  <span class="page__title">
    <i>Déprise</i>
  </span>



  <!-- AVANT PROPOS -->

  <div class="bloc-text" id="avant-propos">
    <span class="bloc-text__title">
      Avant-Propos
    </span>
    <div class="bloc-text__content">
      <span class="bloc-texte__subtitle">TECHNOLOGIES UTILISEES</span>
      <span>
        Ce projet a été réalisé à l'aide du framework Ionic, basé sur Angular (framework TypeScript).
      </span>
      <span>
        Il permet notamment la création d’applications cross-platform : compatible Android et iOS.
      </span>
      <span>
        Basé sur les technologies du web, à savoir HTML/CSS/JavaScript, il utilise également le framework Cordova pour le développement "natif" (par exemple, pour l'utilisation de la caméra ou du gyroscope).
      </span>
      <span class="bloc-texte__subtitle">SYSTEME DE TRADUCTION</span>
      <span>
        Ionic propose également un système de traduction très efficace.
      </span>
      <span>
        A tout moment, l'utilisateur peut changer la langue de l'application en choisissant parmis les 5 proposées, à savoir : anglais, français, espanol, italien et portugais.
      </span>
      <span>
        Ceci est géré très simplement à l'aide de fichiers de traductions. Ces fichiers sont au format JSON. On a donc un système de clés/valeurs.
      </span>
      <span>
        Les clés sont partagées entre les différents fichiers, et les valeurs correspondent aux traductions dans les langues en question.
      </span>
      <span>
        Lorsque l'utilisateur change la langue (qui est celle du téléphone par défaut), l'application va juste changer de fichier de référence, et lire les nouvelles valeurs associées aux clés communes.
      </span>
    </div>
  </div>



<!-- REALISATIONS -->
<div class="bloc-text" id="realisations">
  <span class="bloc-text__title">
    Réalisations
  </span>
  <div class="bloc-text__content">
    <span class="bloc-texte__subtitle">OBJECTIFS INITIAUX</span>
  <span>
    L’application web Déprise est une application disponible sous deux versions différentes :
  </span>
<ul>
  <li>Une version en Flash, mise au point par Serge Bouchardon et Vincent Volckaert en 2010. Elle est accessible sur le lien suivant :<a href="http://www.utc.fr/~bouchard/Deprise/"> http://www.utc.fr/~bouchard/Deprise/ </a></li>
<li>Une version en Angular 2, mise au point par Serge Bouchardon, Baptiste Wojtkowski, Thomas Le Vaou et Frédéric Tauch au cours de l’intersemestre entre A17 et P18. Elle est accessible sur le lien suivant : <a href="https://bouchard.pers.utc.fr/deprise/home"> https://bouchard.pers.utc.fr/deprise/home</a> </li>
</ul>
<span><br/></span>
Cependant, ces deux versions web de Déprise demandent beaucoup d’interactions réalisables uniquement depuis un ordinateur (comme par exemple des mouvements de souris). C’est pourquoi ces versions sont totalement inutilisables depuis un téléphone (même en lançant l’application depuis le navigateur web d’un smartphone).
<span><br/></span>
<span>Le but de ce projet de NF28 fut de développer une application mobile permettant de pouvoir faire l’expérience de cette oeuvre numérique depuis un smartphone ou une tablette.</span>
<span>Notre application mobile devait respecter des contraintes, dont les principales sont les suivantes :</span>
<ul>
  <li>la fidélité par rapport à l’oeuvre originale : notre application mobile doit pouvoir respecter le plus possible l’oeuvre originale de la version web, et pouvoir faire ressentir le même style et la même ambiance à l’utilisateur sur mobile. Chaque interaction devait au moins pouvoir être ressemblante à celle de la version web, voire identique, à condition qu’elle soit suffisamment ergonomique pour l’utilisateur;</li>
<li>l’ergonomie des interfaces et interactions sur mobile : l’application mobile de Déprise doit pouvoir permettre à l’utilisateur d’avancer au sein de ce récit interactif. Sur la version web de cette application, le curseur de la souris est le principal élément permettant de suggérer des actions à l’utilisateur. Cependant, le curseur d’une souris étant inexistant sur une interface mobile, nous avons dû nous adapter à ce nouveau support et mettre au point de nouvelles interfaces pour suggérer la réalisation de certaines actions à l’utilisateur, lui permettant ainsi d’avancer au sein de cette oeuvre numérique. Néanmoins, l’application mobile devait parfois demander des interactions volontairement peu intuitives afin de maintenir l’utilisateur dans une sensation de déprise (au même titre que la version web de l’application, qui est parfois volontairement peu ergonomique pour maintenir cette sensation). Un des principaux défis de ce projet fut de maintenir un compromis entre le fait de devoir ajouter de nouvelles interfaces à l’utilisateur pour éviter qu’il ne se retrouve bloqué, tout en évitant d’ajouter trop d’interactions et ainsi trop faciliter l’avancée de l’utilisateur au sein du récit.
</li>
</ul>
<span><br/></span>

 L’application mobile que nous devions réaliser devait donc rester aussi ergonomique sur un écran tactile de smartphone que l’est la version Web sur un écran d’ordinateur, tout en respectant l’oeuvre originale. Pour respecter au mieux ces deux contraintes, nous avons élaboré un cahier des charges, dans lequel nous avons détaillé clairement les changements par rapport à la version Web que nous comptions mettre en place au début du projet dans la version mobile.
<span><br/></span>

Le développement de ce projet a débuté au cours du mois d’avril. Le premier prototype devait être terminé et présentable pour la date de présentation du projet, qui a été fixée pour notre groupe au mardi 12 juin 2018.
    </div>

    <div class="bloc-text__content">
      <span class="bloc-texte__subtitle">TRAVAIL REALISE</span>
    <span>
      A la fin de ce projet de NF28, nous avons pu mettre au point un prototype d’application mobile multilingue pour l’application Web Déprise, qui respecte la majorité des contraintes du cahier des charges. Cette application mobile a été programmée en Ionic, comme cela a été souhaité dans le rapport de la TX ayant permis le développement de la récente version web de l’application. Nous avons ainsi un code unique, écrit en TypeScript,  fonctionnel à la fois sur Android et iOS.
    </span>
      <span><br/></span>
      <span>Les principales tâches restantes avant l’utilisation de notre application dans des collèges et lycées restent la mise en place de détails d’interface, la traduction de certains passages qui n’ont pas encore été traduits en portugais et en espagnol, et la mise en place d’un grand nombre de tests pour vérifier l’absence de faille dans notre application. Une fois que ces tâches seront réalisées, nous pourrons publier notre application sur Google Play et l’Apple Store. Elle sera alors téléchargeable et accessible pour les collégiens et lycéens.</span>
      <span><br/></span>
    <span>  Notre application a pu être réalisée dans les temps et respecte à l’heure actuelle déjà les contraintes énoncées dans la partie de présentation des objectifs initiaux : notre application respecte l’oeuvre originale tout en ayant adapté certaines interfaces pour rendre Déprise accessible et compréhensible depuis un smartphone.</span>
      <span><br/></span>
      <span>Dans les partie suivantes, nous expliquons point par point et en détail en quoi nous avons respecté la majorité des contraintes énoncées dans le cahier des charges  et répondu aux objectifs initiaux.</span>


    </div>
</div>

<!--ARCHITECTURE GLOBALE -->

<div class="bloc-text" id="architecture">
  <span class="bloc-text__title">
  Architecture globale de l'application mobile
  </span>
  <div class="bloc-text__content">
  <span>  Notre application a été programmée en Ionic, comme cela a été encouragé dans le rapport de la TX de l’application web de Déprise en Angular. Notre projet en Ionic est organisé sous la forme de pages, qui sont l’équivalent des components en Angular 2. Chaque page de notre projet est donc un dossier contenant un fichier HTML, un fichier CSS et un fichier TypeScript (au format .ts) pour rendre nos pages interactives. Nous avons développé une page Ionic pour chaque page de l’application mobile : nous avons ainsi une page pour la page de confidentialité, une pour la page des crédits, une pour la page d’accueil, une pour la page de présentation, une pour la page de prix et six autres pages pour chacune des six scènes de Déprise.
</span>
<span><br /></span>
    <span>Déprise est un récit interactif, dont l’histoire est organisée en six scènes successives. Chaque scène de Déprise nécessitant des interactions avec l’utilisateur qui lui sont propres, nous avons décidé de créer une page pour chaque scène du récit. De plus, cela permettait d’avoir une architecture dans notre projet ressemblant à celle du projet réalisé avec Angular, dont chaque scène était programmée dans un component de l’application qui lui était dédié.
    Le code source de notre application est accessible sur le GitLab de l’UTC, sur le lien suivant :<a href="https://gitlab.utc.fr/levaouth/DepriseMobile"> https://gitlab.utc.fr/levaouth/DepriseMobile</a> .</span>
<span><br /> </span>
<span>
    Dans les sous-parties suivantes, nous allons expliciter les principales différences concernant les interfaces et interactions que nous avons décidées de mettre en place sur mobile par rapport aux versions web de Déprise. Les adaptations au support mobile que nous avons mises en place au cours de ce projet de NF28 pourront permettre à l’utilisateur d’un smartphone de profiter d’une expérience utilisateur de Déprise similaire à celle qu’il pourrait effectuer depuis un ordinateur.
</span>

  </div>
</div>

  <!-- SCENE 1 -->

  <div class="bloc-text" id="sc-1">
    <span class="bloc-text__title">
      Scène 1
    </span>
    <div class="bloc-text__content">
      <span class="bloc-texte__subtitle">CHOIX ET IMPLEMENTATION DES DIFFERENTES INTERACTIONS</span>
      <span>
        La scène 1 a été l’occasion de nous poser de nombreuses questions. En effet, il s’agit de la première scène du récit, celle à laquelle l’utilisateur est confronté lorsqu’il démarre son expérience au sein du récit interactif Déprise. En conséquence, nous voulions que les actions requises pour avancer dans le récit ne soient pas trop difficiles à trouver afin que l’utilisateur ne commence pas son expérience par de la frustration, ce qui pourrait nuire à la qualité de son expérience. Il a donc fallu trouver le bon équilibre pour faire ressentir un sentiment de perte de prise au lecteur, qui s’accentuera au fur et à mesure de sa progression, tout en le guidant un minimum afin qu’il parvienne sans trop de difficulté à avancer.
      </span>
      <span>
        De plus, plusieurs interactions présentes dans la scène 1 se retrouvent dans les autres scènes, notamment comment passer d’une phrase à la suivante ou encore comment passer d’une scène à celle qui suit.
      </span>
      <span>
        Nous avons tenté de diversifier les interactions dans les différentes scènes et notamment la scène 1.
      </span>
      <span>
        Pour commencer, le lecteur est invité à appuyer sur la touche ‘#’ de son clavier. Le clavier apparaît alors automatiquement à l’écran.
        Une fois que cela est fait, une phrase s’affiche à l’écran. Il s’agit de la première phrase du récit.
      </span>
      <span>
        Dans la version web, pour passer d’une phrase à la suivante, il faut survoler ladite phrase avec le curseur de la souris. Nous avons décidé, de transformer cette interaction, nécessitant une souris et n’étant donc pas réalisable sur un support tactile tel qu’un téléphone, par un swipe.
      </span>
      <span>
        Afin d’initier le sentiment chez le lecteur qu’il ne maîtrise pas le récit, nous avons souhaité lui laisser un certain laps de temps pour chercher l’interaction requise. S’il ne trouve pas suite à ce délai, une indication visuelle explicite apparaît, lui donnant la clé lui permettant de progresser dans le récit.
      </span>
      <img class="img img--center" src="../assets/imgs/swipe-indication.png" />
      <span>
        De plus, lorsque l’utilisateur va swiper, une indication visuelle va apparaître, suivant le mouvement du swipe.
      </span>
      <span>
        Cela l’aidera alors à différencier les moments où un swipe des moments où un tap est attendu : si d’un coup l’utilisateur ne voit plus la trace générée lorsqu’il swipait, il va peut-être se poser des questions et tenter de changer d’interaction. Cela ajoute un indice pour le guider tout au long de son expérience.
      </span>
      <span>
        Il s’agit donc de la première interaction que nous avons implémentée, qui se retrouvera dans les cinq autres scènes lorsque l’on doit progresser de manière “normale” dans le récit.
      </span>
      <span>
        Au bout d’un certain nombre de phrases, le lecteur se retrouve face à cet écran :
      </span>
      <img class="img img--center" src="../assets/imgs/tap-indication.png" />

      <span>
        Ici une phrase est affichée, et une indication visuelle indique à l’utilisateur qu’il doit toucher l’écran. Cela a pour effet de générer une bulle colorée, associée à un effet sonore, et d’afficher la phrase suivante. Il s’agit de la deuxième interaction requise.
      </span>
      <div class="imgs">
        <img class="img" src="../assets/imgs/sc1-first-particle.png" />
        <img class="img" src="../assets/imgs/sc1-several-particles.png" />
      </div>

      <span>
        A partir de ce moment-là, l’utilisateur peut toucher n’importe quel endroit de l’écran et cela ajoutera une nouvelle bulle, toujours accompagnée d’une note de musique.
      </span>
      <span>
        Puis, les bulles vont réagir non plus au tap mais au swipe, ce qui aura pour effet de générer des sortes de comètes colorées.
      </span>
      <img class="img img--center" src="../assets/imgs/sc1-comete.png" />

      <span>
        Notre choix était d’exploiter au maximum les caractéristiques du support sur lequel nous adaptons ce récit interactif. C’est pourquoi, nous avons décidé d’utiliser le gyroscope pour faire se déplacer les différentes bulles générées sur l’écran. Ainsi, l’utilisateur peut orienter son téléphone dans tous les sens afin de déplacer les bulles sur l’écran.
      </span>

      <img class="img img--center img--no-border-bottom" src="../assets/imgs/sc1-trickle.png" />
      <span class="img__caption">
        Téléphone orienté verticalement, les bulles “tombent” vers le bas de l’écran
      </span>

      <span>
        Ensuite, l’utilisateur n’a plus de prise sur ces bulles, qu’il commençait à avoir l’habitude de manipuler. En effet, elles se déplacent maintenant dans une sorte d’explosion, sans intervention de la part du lecteur.
      </span>
      <img class="img img--center" src="../assets/imgs/sc1-explosion.png" />

      <span class="bloc-texte__subtitle">AMELIORATIONS A VENIR</span>

      <ul>
        <li class="list__item">
          <b>améliorations des effets graphiques mis en place :</b> rendu plus esthétique, plus fluide, plus original (dégoulinement des bulles, comètes plus longues, écartement des lettres de tout s’échappe plus stylé)
        </li>
        <li class="list__item">
          <b>optimisations pour tablette :</b> nécessite peu de développements supplémentaires et pourrait être intéressant (mais nécessite de réaliser des tests pour se rendre compte de comment cela “rend” sur une tablette, avec un écran plus grand donc, qu’un téléphone)
        </li>
        <li>
          implémenter une interaction sonore plus approfondie lors de la création des comètes : lors de la rédaction du cahier des charges, nous avions pensé créer de nouveaux effets sonores, associés à la création des comètes.
          Une note serait générée à la création du premier point de la comète (lorsque l'utilisateur touche l'écran) puis, cette note s'étirerait en une sorte de vibrato lorsque la bulle s'étire en comète.
          Nous pensions également corréler la hauteur de la note à la position du doigt de l'utilisateur sur l'écran. Ainsi, plus le doigt de l'utilisateur serait en haut de l'écran et plus la note serait haute.
        </li>
      </ul>
    </div>
  </div>

  <!-- SCENE 2 -->

  <div class="bloc-text" id="sc-2">
    <span class="bloc-text__title">
      Scène 2
    </span>
    <div class="bloc-text__content">
      <span class="bloc-texte__subtitle">CHOIX ET IMPLEMENTATION DES DIFFERENTES INTERACTIONS</span>
      <span>
          Dans la version web, six phrases sont affichées. Or, l’écran d’un smartphone étant plus petit, afficher les six phrases plus celle en bas n’est pas envisageable.
      </span>
      <span>
        Nous avons donc choisi d'afficher un nombre de phrases définit en fonction de la taille de l’écran. Celles-ci seront choisies aléatoirement parmi les neuf présentes dans notre fichier source. Ainsi, sur un petit écran, on n’en fera apparaître que 3, alors qu’on pourra en afficher 6 sur tablette.
      </span>
      <div class="imgs">
        <img class="img img--no-border-bottom" src="../assets/imgs/sc2-flatteries.PNG" />
        <img class="img img--no-border-bottom" src="../assets/imgs/sc2-flatteries-2.PNG" />
      </div>
      <div class="imgs">
        <span class="img__caption">
          Rendu sur Samsumg Galaxy S5
        </span>
        <span class="img__caption">
          Rendu sur iPhone X
        </span>
      </div>

      <span>
        Ces flatteries, comme tout texte nécessitant l'action de <i>touch</i> sont en italique. Le but étant d'avoir une charte graphique claire, pour que l'utilisateur puisse associer plus facilement une aciton à une <i>font</i>.
      </span>
      <span>
        Lors de l'interaction, le fichier sonore associé à la flatterie est lu, puis la phrase homophone vient replacer cette flatterie.
      </span>

      <span>
        Un autre problème se pose dans cette scène : la présence d’un point d’interrogation, assez volumineux, incitant l’utilisateur à cliquer dessus pour faire apparaître des phrases.
      </span>

      <span>
        Dans la version web, il est situé à côté de l’image à révéler.
      </span>

      <img class="img--large img--center img--no-border-bottom" src="../assets/imgs/sc2-apparitionPhrase-WEB.PNG" />
      <span class="img__caption">Apperçu de la scène 2 en version Web</span>

      <span>Nous avons donc choisi de supprimer ce point d’interrogation.</span>

      <span>
        Au moment de passer à la phrase suivante, le swipe génère une question au milieu de l’écran pour le début de l’affichage de la photo.
      </span>

      <span>
        Afin de gagner de la place sur l’écran, le point d’interrogation n’apparaitra pas. Seront uniquement présentes à l’écran la photo à découvrir (occupant une place centrale à l’écran), et la phrase à passer en bas.
      </span>

      <div class="imgs">
        <img class="img" src="../assets/imgs/sc2-apparitionPhrase.PNG" />
        <img class="img" src="../assets/imgs/sc2-femme.PNG" />
      </div>

      <span>
        Pour afficher la photo, on reste sur le même principe : le touche et swipe de l’utilisateur créent des questions permettant de faire apparaître la photo.
      </span>

    </div>
  </div>

  <!-- SCENE 3 -->

  <div class="bloc-text" id="sc-3">
    <span class="bloc-text__title">
      Scène 3
    </span>

    <div class="bloc-text__content">
      <span class="bloc-texte__subtitle">CHOIX ET IMPLEMENTATION DES DIFFERENTES INTERACTIONS</span>
      <span>
      La scène 3 correspond au moment où le narrateur lit un mot laissé par sa femme.
      </span>
      <span>
      La particularité de la scène est alors que ce mot possède une double interprétation en raison de deux sens possibles de lecture avec un jeu sur la musique.
      </span>


      <span>
        </br>
          Sur la version Angular (ordinateur), l’entièreté du poème est affichée de manière dynamique. L’utilisateur peut utiliser sa souris pour inverser celui-ci (voir extrait ci dessous).
      </span>

      <img id="sc-3-img-web" class="img--huge img--center img--no-border-bottom" src="../assets/imgs/sc3-web.gif" />
      <span class="img__caption">
        Extrait de la scène 3 sur la version Angular (ordinateur)
      </span>

      <span>
      Lors de la création du cahier des charges, la scène 3 ne nous a pas paru poser problème pour une adaptation sur mobile. Nous verrons qu’au final c’est une des scènes qui a le plus drastiquement changée en comparaison avec la version Angular.
      </span>
      <span>
      Nous nous sommes rendus compte qu’au moment de la création de la maquette la longueur de certains vers posait problème si on affichait le poème en format portrait sur le téléphone.
      </span>

      <span>
        </br>
          La maquette a été une véritable aide pour la visualisation des proportions pour chaque scène. En réalisant la maquette de la scène 3, nous avons compris que pour que tout le poème s’affiche, il fallait diminuer considérablement la taille de la police. Ce n’était pas acceptable. Le choix s’est donc porté sur l’utilisation du format paysage du smartphone. Le défilement horizontal présent dans la version web (voir extrait ci-dessus) est alors perdu .
      </span>

      <span>
        </br>
          En utilisant le format paysage du smartphone, on perd en hauteur d’écran. Il n’est alors pas possible d’afficher l’entièreté du poème sur l’écran. Le choix le plus évident qui nous est apparu est celui d’utiliser un défilement vertical du poème.
      </span>

      <span>
      </br>
      Une première version a donc été réalisée entièrement en Typescript (~JS) avec l’utilisation des transitions CSS. Sur ordinateur les performances ne posaient aucun soucis. Mais ce n’était pas le cas sur smartphone.  Ce problème a été récurrent lors du développement de Déprise, la solution que l’on a choisie est l’utilisation de canvas (voir partie sur les <a data-anchor="#point-technique" class="goToAnchor">canvas</a>). Donc après une nouvelle version utilisant la technologie des canvas, on avait une version plus aboutie (voir ci-dessous).
      </span>

      <img id="sc-3-img-mobile-old" class="img--huge img--center img--no-border-bottom" src="../assets/imgs/sc3-mobile-old.gif" />
      <span class="img__caption">
        Extrait de la première version aboutie de la scène 3 pour mobile
      </span>

      <span>
      On a transposé l’inversion du poème avec le déplacement du doigt de l’utilisateur pour qu’il reste dans ses habitudes. Une autre interaction a été ajoutée : l’utilisation des rotations du téléphone (gyroscope). Cette interaction nous a paru avoir un lien plus fort avec l’idée d’une inversion. Pour ce qui est de la musique et de son inversion, le fonctionnement est identique à celui de la version Angular.
      </span>

      <span>
        </br>
          Cette scène est alors restée ainsi jusqu’aux tests utilisateurs.
      </span>
      <span>
      Lors des tests utilisateurs, les résultats n’ont pas été très positifs. Le jeu avec la musique a été bien compris. Mais pour ce qui est du poème, les utilisateurs étaient un peu perdus, il ne comprenaient pas l'intérêt de déplacer les vers du poème.
      </span>

      <span>
        </br>
      Quand on demandait aux utilisateurs de lire à haute voix le poème on s’est vite rendu compte du problème. De manière inconsciente, les utilisateurs modifiaient leur sens de lecture en même temps que l’inversion du poème, ils suivaient le défilement de celui-ci.
      </span>
      <span>
      Ainsi, que le poème soit dans un sens ou l’autre, ils lisaient dans le sens du défilement, de bas en haut ou de haut en bas. Dans la lecture, il n’y avait donc pas d’inversion (pour bien comprendre, vous pouvez essayez de lire dans le sens de défilement via l’extrait ci-dessus).
      </span>

      <span>
        </br>
      On a donc essayé d’utiliser ce problème à notre avantage pour proposer une version plus compréhensible de la scène 3. Si l’utilisateur lit le poème dans le sens de défilement, alors l’inversion du poème doit être l’inversion du sens de défilement. Ainsi, le poème s’affiche dans un sens ou dans un autre. Le poème devient alors “circulaire”, il n’y a plus de début ni de fin. On laisse alors l’utilisateur choisir quand finir cette scène avec un swipe sur la phrase en bas.
      </span>

      <img id="sc-3-img-mobile-final" class="img--huge img--center img--no-border-bottom" src="../assets/imgs/sc3-mobile-final.gif" />
      <span class="img__caption">
        Extrait de la dernière version de la scène 3 pour mobile
      </span>

    </div>
  </div>

  <!-- SCENE 4 -->

  <div class="bloc-text" id="sc-4">
    <span class="bloc-text__title">
      Scène 4
    </span>
    <div class="bloc-text__content">
      <span>Même si nous avons dû remanier en grande partie la scène 3 pour la rendre accessible et compréhensible sur mobile, la 4ème scène de Déprise reste ressemblante à celle de l’application Web.</span>
<span>Cette scène commence par l’affichage de la phrase “Si ce n’était qu’elle, je pourrais l’accepter.”. Au même titre que dans les scènes précédentes, l’utilisateur est invité à effectuer un swipe pour afficher la phrase suivante et ainsi faire avancer le récit. Après l’affichage de trois phrases, un texte plus long (la rédaction du fils du narrateur) s’affiche à l’écran, comme indiqué sur la capture d’écran ci-dessous :</span>

      <img class="img img--center img--no-border-bottom" src="../assets/imgs/sc4-redac1.jpg" />
      <span class="img__caption">
        Une rédaction s’affiche à l’écran après trois phrases de la scène 4
      </span>
      <span>Il s’agit d’une version plus courte du texte présenté sur la version Web de Déprise. Le texte affiché sur les versions Angular et Flash était en effet trop long pour être affiché à l’écran, c’est pourquoi nous l’avons coupé pour le rendre lisible depuis un smartphone (comme prévu dans le cahier des charges). </span>
      <span><br /></span>
      <span>Sur la version web, le lecteur est incité à  cliquer sur le texte en raison du changement de forme du curseur de la souris au moment où celle-ci survole le texte. Le clic sur le texte permet alors de faire “exploser” le texte pour afficher une phrase semblant être cachée derrière celui-ci. </span>

      <span>Dans le cadre de la version mobile, après l’affichage de la rédaction, la difficulté fut de trouver un moyen d’indiquer visuellement à l’utilisateur de “tap” pour pouvoir faire exploser la rédaction. En effet, sur un smartphone, la souris est inexistante, donc nous ne pouvions pas utiliser cet outil pour permettre de suggérer des actions à l’utilisateur. </span>
      <span>La solution que nous avons proposée a été de changer la police d’écriture de la rédaction : en mettant les phrases dans une couleur légèrement différente des phrases du récit et en italique, nous avons pu nous rendre compte que l’utilisateur comprenait qu’il fallait effectuer une action différente sur ce texte. Il finissait donc par “tap” et se rendait compte du résultat. </span>

<div class="imgs">
<img class="img" src="../assets/imgs/sc4-beforeTap.jpg" />
<img class="img" src="../assets/imgs/sc4-afterTap.jpg" />
</div class="imgs">
<span class="img__caption">
L’utilisateur est incité à tap suite au changement de police de la rédaction (figure de gauche), ce qui fait afficher un texte caché derrière la rédaction (figure de droite)
</span>

<span> La scène 4 fut particulièrement difficile à programmer dans le sens où nous avions d’abord programmé cette scène en utilisant un code proche de la version web de Déprise. Cependant, ce code était très peu optimisé pour un smartphone, ce qui le rendait très peu performant sur la plupart des smartphones (sauf les plus récents). C’est pourquoi nous avons dû re-programmer la totalité de cette scène en utilisant la technologie canvas. </span>
</div>

  </div>

  <!-- SCENE 5 -->

  <div class="bloc-text" id="sc-5">
    <span class="bloc-text__title">
      Scène 5
    </span>
    <div class="bloc-text__content">
      <span class="bloc-texte__subtitle">CHOIX ET IMPLEMENTATION DES DIFFERENTES INTERACTIONS</span>
      <span>
      L’idée de la scène 5 est de jouer avec l’image du narrateur mais surtout de l’utilisateur qui se transpose au narrateur. Dans la version Angular, on utilise le flux vidéo de la webcam de l’ordinateur auquel on applique un filtre.
      </span>
      <span>
      Cette scène est tout à fait adaptable sur smartphone mais correspond surtout à un défi technique. Les performances du smartphone ne permettent pas de réaliser la même chose. On a donc utilisé une simple photo prise à la volée durant la scène sans que l’utilisateur le sache (Il y a tout de même une demande d’autorisation d’accès à l’appareil photo du smartphone).
      </span>

      <span>
        </br>
      Deux interactions sont alors possibles :
      <ol>
        <li>
          Avec un déplacement du doigt.
        </li>
        <li>
          Avec les rotations du smartphone (gyroscope).
        </li>
      </ol>
      </span>
      <span>
      La première interaction est similaire à celle de la version Angular, on applique un filtre “twirl” sur l’image. La différence avec la version Angular est que le filtre s’applique sur une zone plus restreinte et il n’y a pas de retour en arrière.
      </span>
      <span>
      La deuxième interaction est propre à la version mobile. On applique des effets de “liquify” sur l’image en fonction de l’orientation du téléphone.
      </span>
      <span>
      Ces deux interactions sont visibles sur l’extrait ci-dessous.
      </span>

      <img id="sc-5-img-photo" class="img--bitMoreLarge img--center img--no-border-bottom" src="../assets/imgs/sc5-photo.gif" />
      <span class="img__caption">
        Extrait de la scène 5 pour mobile
      </span>

      <span class="bloc-texte__subtitle">AMELIORATIONS A VENIR</span>
      <span>
      Dans cette scène on perd un peu la notion de perte de contrôle sur notre propre image. Une amélioration possible serait alors que l'utilisateur ne puisse plus interagir vers la fin de la scène, il verrait alors l'image se déformer seule sans aucune intervention.
      </span>

    </div>
  </div>

  <!-- SCENE 6 -->

  <div class="bloc-text" id="sc-6">
    <span class="bloc-text__title">
      Scène 6
    </span>
    <div class="bloc-text__content">
      <span>Sur la version Web, au début de la sixième et dernière scène de Déprise, l’utilisateur peut très facilement se rendre compte qu’il peut dessiner des phrases en déplaçant sa souris. Par exemple, il peut afficher la phrase “Retrouver une direction.” comme indiqué sur la figure suivante :</span>
      <img class="img--large img--center img--no-border-bottom" src="../assets/imgs/sc6-debutWeb.png" />
      <span class="img__caption">
    Sur la version Web, l’utilisateur afficher des phrases au centre de l’écran en déplaçant la souris
      </span>

          <span>  Au début de notre projet, nous avons simplement écrit dans notre cahier des charges que sur mobile, le glissement du doigt sur l’écran remplacerait le mouvement de la souris sur un écran d’ordinateur. Nous avons pu mettre en place ce glissement de doigt en utilisant la technologie canvas. </span>
      <span>Cependant, après quelques tests utilisateurs d’une première version de cette scène, nous nous sommes rendus compte que sur mobile, l’utilisateur n’a pas le réflexe de glisser avec son doigt pour afficher des phrases. L’utilisateur a eu tendance à faire un swipe sur la phrase “Il est temps de reprendre le contrôle.” sans se rendre compte qu’il doit faire glisser son doigt sur tout l’écran et afficher des phrases pour faire avancer le récit. </span>
      <span><br /></span>
      <span>C’est pourquoi nous avons décidé de retirer la phrase “Il est temps de reprendre le contrôle” du début de la scène 6 sur mobile, pour avoir uniquement un écran noir qui s’affiche à l’utilisateur au début de cette scène. Il est alors plus facilement incité à toucher l’écran et se rend alors compte qu’il peut faire afficher des phrases en glissant son doigt sur l’écran.
      </span>

      <div class="imgs">
      <img class="img" src="../assets/imgs/sc6-debutNoir.jpg" />
      <img class="img" src="../assets/imgs/sc6-phrase.jpg" />
      </div class="imgs">
      <span class="img__caption">
      L’écran noir (figure de gauche) incite l’utilisateur à utiliser son doigt sur l’écran, ce qui affiche alors la phrase (figure de droite)
      </span>

      <span>Le reste de la scène 6 se déroule d’une manière similaire au déroulement de cette scène sur la version web. Après l’affichage des phrases à l’écran, un bloc de texte apparaît où l’utilisateur est invité à entrer du texte avec le clavier de son smartphone. Cependant, le texte qui s’affiche à l’écran n’est pas celui qu’il entre, mais le texte suivant :
      </span>
      <span><br /></span>
      <span>“Je fais tout pour maîtriser de nouveau le cours de ma vie.</span>
      <span>Je choisis.</span>
      <span>Mes émotions.</span>
      <span>Le sens à donner aux choses.</span>
      <span>Enfin, je me suis repr”</span>
      <span><br /></span>
      Puis pendant une ou deux secondes, les caractères affichés sont ceux saisis par l’utilisateur avant la disparition de ce bloc de texte et l’affichage du mot “fin”, qui redirige l’utilisateur vers la page d’accueil de Déprise.
      Cependant, et contrairement à la version web, le son d’entrée d’un caractère ne s’enclenche pas systématiquement à chaque caractère entré sur la version mobile. En effet, le fait d’activer ce son à chaque caractère entré faisait trop ralentir l’application mobile à ce passage de Déprise.

    </div>
  </div>

   <!-- GESTION DE PROJET -->

   <div class="bloc-text" id="point-technique">
      <span class="bloc-text__title">
          Fonctionnement technique : la technologie Canvas et son utilisation au sein du projet
      </span>
      <div class="bloc-text__content">
        <span>
          Durant le développement du projet, nous avons fait face à plusieurs problèmes à l’origine de certaines frustrations. Un des problèmes fut par exemple les différences de comportement entre la version Android et la version iOS, et les différences au sein même des versions Android.
        </span>

        <span>
          <br>
        Un autre problème auquel nous avons fait face est un problème au niveau des performances. La plupart des interactions et animations utilisaient au départ le CSS. Or, sur mobile, les performances étaient plutôt catastrophiques. Nous avons donc abandonné le CSS au profit de l’élément HTML5 canvas. Toutes les scènes de l’application utilisent un canvas sans exception.
        </span>


        <span>
            <br>
            Le canvas est une simple zone de dessin. On peut donc dessiner un cercle, des arcs ou du texte. Nous avons donc utilisé le canvas comme simple affichage.
        </span>
        <span>
          Ainsi, toutes les 1/60 secondes, l’image du canvas est rafraîchie en fonction des valeurs d’un modèle. L’état du modèle définit donc l’affichage à l’écran.
        </span>
        <span>
          Exemple de modèle : pour la scène 4, le modèle est une liste d’objets dont chaque objet représente une lettre du texte. Ainsi, on associe à chaque lettre du texte, une position, une opacité, etc.
        </span>

        <span>
            <br>
            Les interactions sont possibles avec le canvas en associant les évènements interactifs aux modifications du modèle. Ainsi si le déplacement du doigt provoque une modification du modèle, l’affichage se modifiera en conséquence.
        </span>



        <span>
            <br>
            En fonctionnant ainsi, on a réussi à gagner en performance.
        </span>


      </div>
    </div>


  <!-- GESTION DE PROJET -->

  <div class="bloc-text" id="gestion-de-projet">
    <span class="bloc-text__title">
      Gestion de projet
    </span>
    <div class="bloc-text__content">
      <span>La gestion de ce projet a principalement été effectuée en méthode agile. Suite à l’écriture du cahier des charges et sa validation par notre client (M. Bouchardon), nous avons pu nous répartir les tâches pour démarrer le développement de l’application en utilisant le dashboard proposé par GitLab. Ce dashboard nous a permis d’optimiser la répartition des tâches en nous fournissant en permanence une vision claire des tâches déjà réalisées, celles qu’il fallait tester pour vérifier la fonctionnalité, celles en cours de réalisation, et celles qu’il restait à faire. Si un membre de l’équipe souhaitait réaliser une tâche particulière, il pouvait se l’attribuer sur le GitLab, ce qui permettait aux autres membres de l’équipe de savoir qu’il souhaitait travailler dessus.
      </span><span>Ce dashboard permettait également à notre client d’être en permanence au courant de l’avancement de notre projet.
      </span>

      <img class="img--large img--center img--no-border-bottom" src="../assets/imgs/dashboard.PNG" />
      <span class="img__caption">
      Exemple d'utilisation du dashboard au cours du projet
      </span>
      <span>La communication entre membres du projet a été réalisée grâce à l’application Discord. Cette application nous a permis de mettre en place plusieurs canaux de discussions entre membres de l’équipe du projet, ce qui a facilité l’échange d’informations au sein du groupe. </span>
    </div>
  </div>


  <!--TESTS UTILISATEURS -->

  <div class="bloc-text" id="tests-utilisateurs">
    <span class="bloc-text__title">
      Tests utilisateurs
    </span>
    <div class="bloc-text__content">
      <span>Nous avons pu faire tester notre application sur quelques proches de l’équipe de Déprise, et notre client M. Bouchardon a également fait tester notre application mobile à sa famille et à quelques étudiants de ses cours.
      </span>
      <span><br/></span>
    <span>Les retours furent différents en fonction de l’âge du testeur, de sa connaissance de Déprise, ou de sa fréquence d’utilisation d’un smartphone au quotidien.
    </span>
      <span><br/></span>
    <span>
      Ces tests nous ont principalement permis de nous rendre compte qu’il était parfois difficile pour l’utilisateur d’avoir le réflexe de réaliser certaines actions, qui nous paraissaient pourtant assez intuitives à réaliser (étant donné que nous avions codé l’application). Par exemple, lors du début du récit interactif, à la première phrase de la première scène, certains utilisateurs n’avaient pas forcément le réflexe de faire un swipe partant du texte pour faire avancer le récit. C’est pourquoi nous avons ajouté une image d’une petite main invitant à l’utilisateur de glisser son doigt si l’utilisateur restait bloqué au début de la scène pendant trop de temps.
    </span>
      <span><br/></span>
    <span> De même, ces tests utilisateurs nous ont encouragé à mettre en place des indications visuelles et une charte graphique pour éviter de bloquer l’utilisateur trop souvent au cours de son expérience de Déprise (telles que le cercle incitant l’utilisateur à tap sur l’écran, ou le changement de police d’écriture de certains textes pour inciter à “tap” au lieu de “swipe”, etc). </span>
      </div>
  </div>
</div>
