
<div class="page">
    <span class="page__title">
        FICHIERS
    </span>

    <div class="bloc-text">
        <span class="bloc-text__title">
            Rapports au format PDF
        </span>
        <div class="bloc-text__content">
            <ul>
                <li><a href="../assets/fichiers/cahier_des_charges.pdf" target="_blank">Cahier des charges</a></li>
            </ul>
        </div>
    </div>

    <div class="bloc-text">
            <span class="bloc-text__title">
                Code source
            </span>
            <div class="bloc-text__content">
                <span>GitLab de l'application mobile de <i>Déprise</i> : <a href="https://gitlab.utc.fr/levaouth/DepriseMobile">https://gitlab.utc.fr/levaouth/DepriseMobile</a></span>
            </div>
        </div>
</div>
