page-home {
  .version {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 90%;

    &__description {
      font-size: 1.3em;
      height: fit-content;
      /*suppression de justify, qui laisse trop de trous dans le texte et ne plait pas a M. Bouchardon*/
      /*text-align: justify;*/
      color: map-get($colors, light-grey);
    }

    &__titre {
      font-size: 5em;
      margin-top: 15px;
      line-height: 63px;
      text-align: left;
      color: white;
    }
  }

  .grid {
    margin-bottom: 80px;
  }

  .col {
    display: flex;
    justify-content: center;
  }
}
