<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm justify-content-center>
        <a #startLink class="version">
          <span class="version__description">
            {{ translationKey + "." + "description" | translate }}
          </span>
          <!-- La classe est indicationTouche et pas textFinScene, car cette dernière décale trop "Déprise" vers la droite pour être utilisable  -->
          <span class="version__titre">
            {{ translationKey + "." + "titre" | translate }}
          </span>
        </a>
     </ion-col>
   </ion-row>
 </ion-grid>
</ion-content>

<audio #audio src={{ambianceTitrePath}} autoplay></audio>
