// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
body {
  word-wrap: normal;
}

.content {
  color: white;
}

.toolbar-background {
  background-color: black;
}
.toolbar-title {
  color: white;
}
.toolbar-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ion-navbar[hidebackbutton] button[menutoggle] {
  display: block !important;
  color: #424242;
  background-color: transparent;
  font-size: 2rem;
}


/************* SIDE MENU ************/
.input-wrapper {
  padding-left: 10px;
}

.menu {
  &__title {
    text-align: center;
    font-size: 2.5rem
  }

  &__item {
    padding: 0 5px;
    color: white;
    font-size: 1.8rem;
  }

  &__icon {
    padding-left: 1.5rem;
    font-size: 2rem;
  }
}

// **** ios ****
.toolbar-title-ios {
  font-size: 2.2rem;
}

.bar-button-menutoggle-ios ion-icon {
  font-size: 4rem;
  padding: 0 1rem;
}

.list-ios {
  margin: 25px 0;
}
.label-ios {
  margin: 15px 0;
}
.item-ios {
  padding-left: 0;
}

.input-wrapper {
  padding-left: 2.2rem;
}

ion-label {
  font-size: 1.8rem;
}

ion-icon {
  color: white;
}

/************* SCENES > CSS GLOBAL ************/

.cadre{
  margin: 0 5%;
  width: 90%;
}

.cadre > * {
   display: flex !important;
   align-content: center !important;
   align-items: center !important;
   justify-content: center;
   overflow: hidden;
   flex-direction: column;
}

.text {
  font-size: 2rem;
  font-family: "Arial";
  overflow-wrap: break-word;
  max-width: 90%;
  width: fit-content;
  z-index: 2;
  position:relative;
  // Aggrandir zone de swipe (en hauteur)
  padding: 2rem 0;
}

.canvasFeedback{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.num-chapitre {
  font-size: 25rem;
  position:fixed; /*evite des redacalges sur la scene 4 par exemple */
}

.textFinScene {
  z-index: 10000;
  font-size: 2rem;
  margin: 0 2rem;
  overflow-wrap: break-word;
  width:90%;
  text-decoration: underline;
}

.texteCliquable {
  font-style: italic;
  color: map-get($colors, light-grey);
}
