<ion-menu [content]="content" type="push" [swipeEnabled]="false">
  <ion-header>
    <ion-navbar class="menu">
      <ion-icon class="menu__icon" *ngIf="activeMenu !== 'main'" name="arrow-back" (tap)="show('main')"></ion-icon>
      <ion-title class="menu__title">
        {{ 'MENU.' + menus[activeMenu].name | translate }}
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <a *ngFor="let item of menus[activeMenu].items" ion-item class="menu__item" (tap)="doThing(item.action)" detail-none>
        {{ 'MENU.' + item.name | translate }}
        <ion-icon *ngIf="item.forward" name="arrow-forward" item-end></ion-icon>
      </a>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
