<ion-header>
    <ion-navbar hideBackButton>
      <ion-buttons>
        <button menuToggle ion-button icon-only item-start>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>


<ion-content text-center class="cadre hasHeader">

  <h1>{{ translationKey + '.' + "MediaWritingPrize" | translate }}</h1>
  <h3>
    <a href="http://newmediawritingprize.co.uk/past-winners/" target="_blank"  class="link"> {{ translationKey + '.' + "Voir le site" | translate }} </a>
  </h3>

</ion-content>
