<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons>
      <button menuToggle ion-button icon-only item-start>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content #cadre text-center class="hasHeader cadre">
  <canvas #feedBackSwipeCanvas class="canvasFeedback"></canvas>
  <canvas #animCanvas class="animCanvas"></canvas>

  <!--redaction du fils (d'abord cachee, puis affichee a la phrase 4 ) -->
  <!--si on veut afficher cash la redaction, decommenter la ligne ci-dessous -->
  <!-- {{ translationKey + '.' + 'redaction.texte' | translate }} -->
<!--  <ion-row>
    <ion-col> -->
  <span id="container" class="texteCliquable">
    <span class="clipped-box line">
      <span #redaction class="texteRedac" [style.display]="affichageRedaction"></span>
    </span>
  </span>

<!--</ion-col>
</ion-row> -->

  <!--phrases du recit principal -->
  <span #textContainer [class]="textContainerClass">{{ translationKey + '.phrases.ph' + phraseIndex | translate }}</span>

</ion-content>

<audio id='audio' src={{sonMoment}} autoplay></audio>
