page-scene4 {
  /*.bottomTransition{
      transition-duration: 2s;
      transform: translate(0, 35vh);
  }*/
  #container{
    width: 100%;
    height: 80%; /*le reglage de la hauteur se fait avec cet attribut */
    /*suppression de justify, qui laisse trop de trous dans le texte et ne plait pas a M. Bouchardon*/
    /*text-align: justify;*/
    /*Besoin de mettre le texte a left pour eviter un recroquevillement de celui-ci, quand il n'y a pas de justify */
    text-align: left;
    /*margin-top: -20%;*/
    /*top:10%;*/
  }

  .bottomFixed{
    /*Pour avoir le texte directement en bas */
      transform: translate(0px, 35vh);
      /*top:70vh;*/
      position: fixed;
  }

  .texteRedac{
    /*margin-top:-20%;*/ /*Rehaussement du texte sur la page, verifier si ca passe bien sur plusieurs smartphones */
    /*font-size:large; pas de valeur en px car different selon type ecran */
    top:0%;
  }

  .clipped-box{
    max-width: 500px;
    min-width: 200px;
    width:100%;
    height: 500px;
    /*position: absolute;*/
    margin: auto;
    top: -20%;
    left: 5%;
    z-index:0;
  }

  .line{
    font-size: large;
    color:white;
    line-height: 1.35;
  }

  .horizTranslate {
    transition:all 2s!important;
    -webkit-transition:all 2s!important;
    -moz-transition:all 2s!important;
    -ms-transition:all 2s!important;
    -o-transition:all 2s!important;
  }

  .animCanvas {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    pointer-events: none;
  }

}
