body{
    padding-top: 70px;
    background-color: #222 !important;
    color:white !important;
    font-family: Arial!important;
}

.nav-link a:hover{
    cursor: pointer;
}

#contentZone {
    text-align: justify;
}

.jumbotron{
    text-align: left;
    background-color:#777 !important;
    padding: 35px 45px !important;
}
