/* ********** NAVBAR *************** */

.nav-link {
  font-size: 16px !important;
  color: white !important;
  padding: 0 8px;
}

/* ********** HOME *************** */

.home__title-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #777;
  align-self: center;
}

.home__title {
  font-size: 50px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.home__subtitle {
  padding: 15px;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 50;
  text-align: center;
}

.rond {
  border-radius: 100%;
  position: absolute;
}

.rond:hover{
  cursor: pointer;
}

.rond--petit {
  height: 25px;
  width: 25px;
}

.rond--moyen {
  height: 50px;
  width: 50px;
}

.rond--grand {
  height: 75px;
  width: 75px;
}

.rond--bleu{
  background: radial-gradient(circle closest-side, rgb(143, 201, 255) 10%, #74fad8 50%, rgb(45, 25, 228));
 transition-duration: 1s;
}

.rond--rouge{
  background: radial-gradient(circle closest-side, rgb(255, 152, 121) 10%, #ff3939 50%, rgb(233, 12, 12));
 transition-duration: 2s;
}

.rond--vert{
  background: radial-gradient(circle closest-side, rgb(161, 227, 112) 10%, #79c561 50%, rgb(20, 238, 49));
 transition-duration: 3s;
}

.rond--jaune{
  background: radial-gradient(circle closest-side, rgb(252, 249, 153) 10%, #f4ff4c 50%, rgb(214, 248, 20));
 transition-duration: 4s;
}
.rond--violet{
  background: radial-gradient(circle closest-side, rgb(255, 217, 238) 10%, #ff2dd2 50%, rgb(161, 2, 153));
 transition-duration: 1.6s;
}

.rond--rose{
  background: radial-gradient(circle closest-side, rgb(182, 102, 102) 10%, #fa7487 50%, rgb(253, 54, 164));
 transition-duration: 2.6s;
}

.rond--marron{
  background: radial-gradient(circle closest-side, rgb(248, 185, 108) 10%, #e09d39 50%, rgb(97, 36, 0));
 transition-duration: 3.6s;
}

.rond--orange{
  background: radial-gradient(circle closest-side, rgb(255, 190, 73) 10%, #f1b864 50%, rgb(255, 117, 38));
 transition-duration: 4.6s;
}

/* ********** PAGES + propriétés générales *************** */

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.page__title {
  font-size: 35px;
  text-align: center;
  margin: 30px 0;
}

.bloc-text {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-top: 45px;
}

.bloc-text__title {
  padding: 16px 0;
  font-size: 20px;
  border-bottom: 1px solid #777;
  width: 40%;
  margin-bottom: 20px;
}

.bloc-texte__subtitle {
  align-self: flex-end;
  text-align: right;
  color: #777;
  padding: 8px 0;
  font-size: 18px;
  border-bottom: 1px solid #777;
  margin-bottom: 20px;
}

.bloc-text__content {
  display: flex;
  flex-direction: column;
  font-size: 16px !important;
  text-align: left !important;
  padding: 18px 0;
  z-index: 1;
}

.list__item {
  padding-bottom: 25px;
}

.text--spaced {
  padding-top: 15px;
}

.imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  align-self: center;
}

.img {
  width: 200px;
  height: 100%; /*ATTENTION, valeur "auto" pose des problèmes sous Chrome */
  margin: 35px 35px 70px 35px;
  border: 1px solid #777;
  align-self: baseline;
}

.img--bitMoreLarge {
  width: 250px;
  height: 100%; /*ATTENTION, valeur "auto" pose des problèmes sous Chrome */
  margin: 35px 35px 70px 35px;
  border: 1px solid #777;
  align-self: baseline;
}

.img--large {
  width: 500px;
  height: 100%; /*ATTENTION, valeur "auto" pose des problèmes sous Chrome */
  margin: 35px 35px 70px 35px;
  border: 1px solid #777;
  align-self: baseline;
}

.img--huge {
  width: 600px;
  height: 100%; /*ATTENTION, valeur "auto" pose des problèmes sous Chrome */
  margin: 35px 35px 70px 35px;
  border: 1px solid #777;
  align-self: baseline;
}

@-moz-document url-prefix() {
  .img {
    width: 200px;
    height: auto;
    margin: 35px 35px 70px 35px;
    border: 1px solid #777;
  }

  .img--large {
    width: 500px;
    height: auto;
    margin: 35px 35px 70px 35px;
    border: 1px solid #777;
  }
}


.img--center {
  align-self: center;
}
.img--no-border-bottom {
  margin-bottom: 35px;
}
.img__caption {
  align-self: center;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #777;
  margin-bottom: 70px;
}

.hidden{
  display:none;
}

.goToAnchor{
  cursor: pointer;
}

/* ********** CHARTE GRAPHIQUE *************** */

.charte__subtitle {
  font-size: 20px;
  border-bottom: 1px solid #777;
  margin-left: 25px;
  width: 90%;
  margin-top: 25px;
  padding-bottom: 8px;
}

.charte__container {
  display: flex;
  flex-direction: column;
  background-color: rgba(238, 238, 238, 0.2);
  border: 1px solid #eee;
  border-radius: 5px;
  margin-bottom: 45px;
  margin-top: 15px;
}

.charte__couleurs {
  display: flex;
  flex-direction: row;
  margin: 25px;
  justify-content: space-between;
}

.charte-couleur {
  display: flex;
  flex-direction: column;
  max-width: 30%
}

.charte-couleur-design {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.charte-couleur-design__badge {
  border-radius: 100%;
  height: 125px;
  width: 125px;
}

.charte-couleur-design__badge--black {
  background-color: black;
}

.charte-couleur-design__badge--white {
  background-color: white;
}

.charte-couleur-design__badge--grey {
  background-color: #777 ;
}

.charte-couleur-design-desc {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  justify-content: center;
}

.charte-couleur-design-desc__item {
  color: #777 !important;
}

.charte-couleur-design-desc__item-number {
  color: #eee !important;
}

.charte-couleur__desc {
  color: #eee;
  padding: 0 5px;
  height: 100%;
  align-items: center;
  display: flex;
  margin-top: 8px;
}

.charte-typos {
  display: flex;
  flex-direction: row;
}

.charte__typo {
  display: flex;
  flex-direction: row;
  padding-right: 30px;
  border-right: 1px solid #777;

}

.charte__typo:last-child {
  border: none;
}

.charte-typo-design {
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: center;
}

.charte-typo-design__big {
  font-size: 45px;
}

.charte-typo-design__big--italic {
  font-style: italic;
}
.charte-typo-design__big--underline {
  text-decoration: underline;
}

.charte-typo-design__desc {
  color: #777;
  font-size: 12px;
}

.charte-typo-desc {
  display: flex;
  flex-direction: column;
  padding: 8px;
  justify-content: center;

}

.charte-typo-desc__example {
  padding: 4px 0;
}

.charte-typo-desc__example--italic {
  font-style: italic;
}

.charte-typo-desc__example--underline {
  text-decoration: underline;
}

.charte__typo-container {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.charte__typo-name {
  font-size: 20px;
  padding-left: 15px;
}

.charte-typo__text {
  padding: 15px;
  display: flex;
  flex-direction: column;
}
