
<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons>
      <button menuToggle ion-button icon-only item-start>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content #cadre text-center class="hasHeader cadre">
  <canvas #feedBackSwipeCanvas class="canvasFeedback"></canvas>

  <canvas #imageCanvas class="canvasFeedback"></canvas>
  <!-- <img id="testImg"> -->
  <span #textContainer [class]="textContainerClass" >{{ translationKey + '.phrases.ph' + phraseIndex | translate }}</span>

</ion-content>
