<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons>
      <button menuToggle ion-button icon-only item-start>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #cadre text-center class="hasHeader cadre">

  <textarea #textareaFinal [class]="textareaFinalClass" [style.display]="showLastText" (keypress)="preventNormalBehaviour($event)" (keyup)="updateTextArea($event)" (keydown)="playSound($event)"></textarea>
  <canvas #GhostLettersCanvas class="canvasFeedback"></canvas>
  <span #textContainer [style.display]="displayText" [class]="textContainerClass">{{ translationKey + '.phrases.ph' + phraseIndex | translate }}</span>

</ion-content>
