page-scene6 {

    .bottom{
        transform: translate(0, 35vh);
    }

    .large{
        font-size: 4rem;
    }

    .textefinal {
        position: absolute;
        /*text-align: center;*/
        top: 10%;
        left:10%;
        width: 80%;
        background-color: black;
        height: 70%;
        font-size:1.7rem;
        font-family: "Times New Roman", Helvetica;
        color: white;
        resize: none; /*Par defaut, l'utilisateur peut changer la taille d'un textarea mais on ne veut pas que ce soit le cas ici
        donc on ecrit cette ligne de code pour ça*/
        cursor: auto; /*pour avoir directement le curseur de la souris sur le texte a l'affichage de ce champ de texte */
      }

    .fadeOut{
        transition-duration: 4s;
        opacity: 0;
    }
      

}
